<!DOCTYPE html>
<html>
<head>
    <title> About </title>
    <link rel="icon" href="/img/doodle.png">
    <link rel='stylesheet' href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Idrees Babatunde. The site uses data from weatherform and mapbox.</p>
        <img class="nike" src="/img/Idrees.jpeg">
        {{!-- <p>Created by {{name}}</p> --}}
    </div>

    {{>footer}}
</body>
</html>